table, th, td {
  border: 1px solid black;
   border-collapse: collapse;
   font-family: "arial";
<<<<<<< HEAD
   font-size: 10pt;
=======
>>>>>>> dc0e4b0fb484a54965b4ff5f10947c5ec99898cf
}
body {
  text-align:center;
}
table {
    padding:10px;
  }
